################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/VtbMatrix/VtbMatrix/obj
/src/VtbMatrix/VtbMatrix/bin/Debug/netcoreapp3.1
/src/VtbMatrix/.vs/VtbMatrix
/src/.vs
/src/VtbMatrix/VtbMatrix/ClientApp/node_modules
/src/VtbMatrix/VtbMatrix.Tests/obj
/src/VtbMatrix/VtbMatrix.Tests/bin/Debug/netcoreapp3.1
